html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
  }
  .navbarTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navItem img {
    cursor: pointer;
  }
  
  .search {
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .searchInput {
    border: none;
    background-color: transparent;
  }
  
  .searchInput::placeholder {
    color: lightgray;
  }
  
  .limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid red;
    cursor: pointer;
  }
  
  .navbarButtom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menuItem {
    margin-right: 70px;
    margin-top: 10px;
    color: lightgray;
    cursor: pointer;
  }
  
  .slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZGFyayUyMHdhbGx8ZW58MHx8MHx8fDA%3D");
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }
  
  .sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
  }
  
  .sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .slideimg {
    z-index: 1;
  }
  .slideTitle {
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    z-index: 1;
  }
  
  .sliderPrice {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    border: 2px solid grey;
    z-index: 1;
  }
  
  .buyNow {
    position: absolute;
    top: 60%;
    right: 8%;
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    border: 2px solid grey;
    cursor: pointer;
    z-index: 1;
    background-color: black;
  }
  
  .buyNow:hover {
    background-color: white;
    color: black;
  }
  
  .slideBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
  }
  .sliderItem :nth-child(1) .slideBg {
    background-color: blue;
  }
  .sliderItem :nth-child(2) .slideBg {
    background-color: rgb(18, 214, 57);
  }
  .sliderItem :nth-child(3) .slideBg {
    background-color: rgb(19, 231, 231);
  }
  .sliderItem :nth-child(4) .slideBg {
    background-color: rgb(211, 169, 18);
  }

  .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }

  .feature{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
}

.featureIcon{
    width: 40px;
    height: 40px;
}

.featureTitle {
    font-size: 15px;
    font-weight: 700;
    margin: 20px;
  }
  
  .featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
  }
  
  .product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }

  .payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  }
  
  .payTitle {
    font-size: 20px;
    color: lightgray;
  }
  
  label {
    font-size: 14px;
    font-weight: 300;
  }
  
  .payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .payInput::placeholder {
    color: rgb(163, 163, 163);
  }
  
  .cardIcons {
    display: flex;
  }
  
  .cardIcon {
    margin-right: 10px;
  }
  
  .cardInfo {
    display: flex;
    justify-content: space-between;
  }
  
  .sm {
    width: 30%;
  }
  
  .payButton {
    /* position: absolute; */
    height: 40px;
    bottom: -40;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }
.productImg{
    width: 50%;
}

.productDetail{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle {
    font-size: 75px;
    font-weight: 900;
  }
  
  .productDesc {
    font-style: 24px;
    color: gray;
  }
  
  .colors,
  .sizes {
    display: flex;
    margin-bottom: 20px;
  }
  
  .color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .color:last-child {
    background-color: darkblue;
  }
  
  .size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .buyButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .buyButton:hover {
    background-color: white;
    color: black;
  }